@(user: models.FacebookUser, redirectUri: String)(implicit lang: Lang, flash: Flash)

@base("Fullin-Fullout") {
<h1>Fullin-Fullout</h1>
<div>
Hello @user.name
</div>
<h2>Upload</h2>
<form id="uploadForm" action="https://fullin-fullout.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
	<input type="hidden" name="acl" value="private"> 
	<input type="hidden" name="success_action_redirect" value="@redirectUri">
	
	<input type="hidden" name="key" value="">
	<input type="hidden" name="AWSAccessKeyId" value=""> 
	<input type="hidden" name="policy" value="">
	<input type="hidden" name="signature" value="">
	<input type="hidden" name="Content-Type" value="">
	File to upload to S3: 
	<input name="file" type="file"> 
</form> 
<script>
$(function() {
	function fileChanged() {
		val filename = $(this).val();
		if (filename) {
			$.ajax({
				"url" : "/videos/prepareUpload",
				"type" : "post",
				"data" : {
					"filename" : filename
				},
				"success" : function(data) {
					form.find("input[name='key']").val("uploads/" + data.key);
					form.find("input[name='AWSAccessKeyId']").val(data.awsKey);
					form.find("input[name='policy']").val("uploads/" + data.policy);
					form.find("input[name='signature']").val("uploads/" + data.sign);
					form.find("input[name='Content-Type']").val("uploads/" + data.contentType);
					
					form[0].submit();
				}
			});
		}
	}
	var form = $("#uploadForm");
	form.find("input[name='file']").change(fileChanged);
})
</script>
}
