@(user: models.FacebookUser, redirectUri: String)(implicit lang: Lang, flash: Flash)

@base("Fullin-Fullout") {
<script src="/assets/javascripts/upload.js"></script>
<h1>Fullin-Fullout</h1>
<div>
Hello @user.name
</div>
<h2>Upload</h2>
<form id="uploadForm" action="https://fullin-fullout.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
	<input type="hidden" name="acl" value="private"> 
	<input type="hidden" name="success_action_redirect" value="@redirectUri">
	
	<input type="hidden" name="key" value="">
	<input type="hidden" name="AWSAccessKeyId" value=""> 
	<input type="hidden" name="policy" value="">
	<input type="hidden" name="signature" value="">
	<input type="hidden" name="Content-Type" value="">
	File to upload to S3: 
	<input name="file" type="file"> 
</form> 
<script>
$(function() {
	var uploder = new fullfull.Uploader("#uploadForm");
})
</script>
}
